snippet today
Today is the `date +%d.%m.%y`.
endsnippet

snippet wow
${1:Text}`!p snip.rv = (30-2*len(t[1]))*' '+t[1].upper()`
endsnippet

snippet "([^\s].*)\.return" "Return (postfix)" r
return `!p snip.rv = match.group(1)`$0
endsnippet

snippet svelte-code-block "Svelte code block" b
\`\`\`svelte
${1}
\`\`\`
endsnippet

snippet const-var "Const variable"
const ${1:variable} = ${2:value};
endsnippet
