snippet md_TOC "markdown toc" b
* TOC
{:toc}
endsnippet

snippet md_link "markdown link" b
[${1:link text}](${2:url})
endsnippet

snippet md_image "markdown image" b
![${1:alt text}](${2:url})
endsnippet
